node_modules/
!/.gitattributes
!/.projen/tasks.json
!/pom.xml
.classpath
.project
.settings
target
dist/java
.vscode
!/.github/workflows/pull-request.yml
!/.github/workflows/release-please.yml
!/src/test/java/projenrc.java
